<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Your Name</title>

    <meta name="author" content="Your Name">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    
  </head>

  <body>
    <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
      <tr style="padding:0px">
        <td style="padding:0px">
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr style="padding:0px">
              <td style="padding:2.5%;width:63%;vertical-align:middle">
                <p class="name" style="text-align: center;">
                  Your Name
                </p>
                <p>I'm a [your title] at [your affiliation/company/university] in [your location], where I [brief description of what you do].
                </p>
                <p>
                  Previously, I've worked on [list previous projects, experiences, or achievements]. I received my [degree] from [university]. [Add any awards or recognition here].
                </p>
                <p style="text-align:center">
                  <a href="mailto:your.email@example.com">Email</a> &nbsp;/&nbsp;
                  <a href="data/YourName-CV.pdf">CV</a> &nbsp;/&nbsp;
                  <a href="data/YourName-bio.txt">Bio</a> &nbsp;/&nbsp;
                  <a href="https://scholar.google.com/">Scholar</a> &nbsp;/&nbsp;
                  <a href="https://twitter.com/">Twitter</a> &nbsp;/&nbsp;
                  <a href="https://github.com/">Github</a>
                </p>
              </td>
              <td style="padding:2.5%;width:37%;max-width:37%">
                <a href="images/YourPhoto.jpg"><img style="width:100%;max-width:100%;object-fit: cover; border-radius: 50%;" alt="profile photo" src="images/YourPhoto.jpg" class="hoverZoomLink"></a>
              </td>
            </tr>
          </tbody></table>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
              <tr>
              <td style="padding:16px;width:100%;vertical-align:middle">
                <h2>Research</h2>
                <p>
                  I'm interested in [your research interests/professional focus]. Most of my work is about [brief description of your work focus]. Some projects are <span class="highlight">highlighted</span>.
                </p>
              </td>
            </tr>
          </tbody></table>
          <table style="width:100%;border:0px;border-spacing:0px 10px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>


    <!-- Project/Publication Template (Repeat for each project) -->
    <tr onmouseout="project1_stop()" onmouseover="project1_start()">
      <td style="padding:16px;width:20%;vertical-align:middle">
        <div class="one">
          <div class="two" id='project1_image'>
            <img src='images/project1_after.jpg' width="160">
          </div>
          <img src='images/project1_before.jpg' width="160">
        </div>
        <script type="text/javascript">
          function project1_start() {
            document.getElementById('project1_image').style.opacity = "1";
          }

          function project1_stop() {
            document.getElementById('project1_image').style.opacity = "0";
          }
          project1_stop()
        </script>
      </td>
      <td style="padding:8px;width:80%;vertical-align:middle">
        <a href="your_project_link">
          <span class="papertitle">Your Project Title</span>
        </a>
        <br>
        <a href="#">Author 1</a>,
        <a href="#">Author 2</a>,
        <strong>Your Name</strong>
        <br>
        <em>Conference/Journal</em>, Year
        <br>
        <a href="#">project page</a>
        /
        <a href="#">paper</a>
        /
        <a href="#">code</a>
        <p></p>
        <p>
        Brief description of your project. Explain what it does and why it matters.
        </p>
      </td>
    </tr>

    <!-- You can add more projects following the same template -->

    <!-- For projects with video, use this template -->
    <tr onmouseout="projectvideo_stop()" onmouseover="projectvideo_start()" bgcolor="#ffffd0">
      <td style="padding:16px;width:20%;vertical-align:middle">
        <div class="one">
          <div class="two" id='projectvideo_image'><video width=100% height=100% muted autoplay loop>
          <source src="images/your_video.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video></div>
          <img src='images/your_thumbnail.jpg' width="160">
        </div>
        <script type="text/javascript">
          function projectvideo_start() {
            document.getElementById('projectvideo_image').style.opacity = "1";
          }

          function projectvideo_stop() {
            document.getElementById('projectvideo_image').style.opacity = "0";
          }
          projectvideo_stop()
        </script>
      </td>
      <td style="padding:8px;width:80%;vertical-align:middle">
        <a href="your_project_link">
          <span class="papertitle">Your Video Project Title</span>
        </a>
        <br>
        <a href="#">Author 1</a>,
        <strong>Your Name</strong>,
        <a href="#">Author 3</a>
        <br>
        <em>Conference/Journal</em>, Year
        <br>
        <a href="#">project page</a>
        /
        <a href="#">paper</a>
        /
        <a href="#">code</a>
        <p></p>
        <p>
        Brief description of your video project. Explain what it does and why it matters.
        </p>
      </td>
    </tr>

          </tbody></table>
          
          <!-- Optional footer section -->
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
              <td style="padding:16px;width:100%;vertical-align:middle">
                <h2>Other Information</h2>
                <p>
                  This section can include other relevant information about you, your work, or your interests.
                </p>
              </td>
            </tr>
          </tbody></table>
          
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
              <td style="padding:0px">
                <br>
                <p style="text-align:right;font-size:small;">
                  Template credit: <a href="https://github.com/jonbarron/website">Jon Barron</a>
                </p>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </body>
</html> 